{% extends 'app/base_usuario.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

<div class="row p-5 mt-2">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
        <form action="" id="formulario" method="post">

            <div class="">
                
                <div class="card-body">
                    <h4 class="card-title">Crear Cuenta</h4>
                    {% csrf_token %}
                    {{form|crispy}}
                    {{fuser|crispy}}
                    

                    <input type="submit" class="btn btn-success" value="Crear cuenta">


                </div>
            </div>

        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
{%endblock contenido%}

{% block script %}
<script src={% static 'js/log.js' %}> </script>
{% endblock script %}