{% extends 'app/base_tipo.html' %}
{% load crispy_forms_tags %}

{% block contenido %}


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <h3>Eliminar Habitación</h3>
        
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="alert alert-danger">
                <strong>ADVERTENCIA!</strong> Esta seguro que desea eliminar cliente
                <h1>{{habi.id_habitacion}} </h6>
            </div>
            <div>
                <input type="submit" value="Eliminar" class="btn btn-danger text-light btn-lg">
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>



{% endblock contenido %}


