{% extends 'app/base_tipo.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titulo %}
    Añadir Habitacion
{% endblock titulo %}

{% block contenido %}

<div class="row gx-5">
    <div class="col-sm-3"></div>

    <div class="col-sm-6 mt-5">
        <h3>Añadir habitacion</h3>
        <form action="" method="post" enctype="multipart/form-data" id="addform">
            {% csrf_token %}
            {{form|crispy}}

            <div>
                <input type="submit" value="Guardar" class="btn btn-success btn-lg">
            </div>

        </form>
    </div>

    <div class="col-sm-3"></div>

</div>



{% endblock contenido %}