{% extends 'app/base_tipo.html' %}
{% load crispy_forms_tags %}

{% block titulo %}
    Añadir Habitacion
{% endblock titulo %}

{% block contenido %}

<div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4 mt-5 p-2">
        <h3>Añadir habitacion</h3>
        <form action="" method="post" enctype="multipart/form-data" class="formadd">
            {% csrf_token %}
            {{form|crispy}}

            <div>
                <input type="submit" value="Guardar" class="btn btn-success btn-lg">
            </div>

        </form>
    </div>

    <div class="col-sm-4"></div>

</div>



{% endblock contenido %}