{% extends 'app/base_tipo.html' %}
{% load static %}
{% block titulo %}Recepcionista{% endblock titulo %}
{% block contenido %}
<div class="container">
    <div class="row justify-content-center align-items-center g-2 p-5">
        <div class="col-12">
            <h3 class="mt-5">Reservas del cliente</h3>
            <a style="all: unset" href={% url 'verificarReserva' %}><button type="button"
                class="btn btn-success mt-5 mb-3">Buscar otro</button></a>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Reserva</th>
                            <th scope="col">Habitacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not reserva %}
                        <tr class="">
                            <td scope="row">
                                No hay reservas registradas con el cliente
                            </td>
                            <td scope="row">
                                0
                            </td>
                            <td scope="row">
                                0
                            </td>
                        </tr>

                        {% endif %}
                        {% for res in reserva%}
                        <tr class="">
                            <td scope="row">{{res.run_cliente.primer_nombre}} {{res.run_cliente.segundo_nombre}}
                                {{res.run_cliente.apellido_paterno}} {{res.run_cliente.apellido_materno}}
                            </td>
                            <td>{{res.fecha_inicio}} hasta {{res.fecha_termino}}</td>
                            <td>{{res.habitacion.id_habitacion}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block alerta %}
    {% if not reserva %}
    <script>
        Swal.fire({
            "title": "",
            "text": "{{m}}",
            "icon": "warning",
            "confirmButtonColor": "#87b56d"
        })
    </script>
    {% else %}
    <script>
        Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success",
            "confirmButtonColor": "#87b56d"
        })
    </script>
    {% endif %}
{% endblock alerta %}