{% extends 'app/base_tipo.html' %}
{% block titulo %}Tipo de habitacion{% endblock titulo %}
{% block contenido %}
<div class="container">
    <div class="row justify-content-center align-items-center g-2 p-5">
        <div class="col-12">

            <div class="list-group">
                <a style="all: unset" href={% url 'tipo_habitacion_add' %}><button type="button"
                    class="list-group-item list-group-item-action list-group-item-success">Añadir</button></a>
            </div>
            
<br>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio</th>
                            <th> acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for type in tipo %}
                        <tr class="">
                            <td scope="row">{{type.id_tipo_habitacion}}</td>
                            <td>{{type.nom_tipo}}</td>
                            <td>{{type.descrip_tipo}}</td>
                            <td>{{type.precio}}</td>
                            <td><a href="{% url 'tipo_habitacion_modif' type.id_tipo_habitacion %}" role="button" class="btn btn-success text-light" style="margin-left: 10%;">Modificar</a>
                            <a href="{% url 'tipo_habitacion_eliminar' type.id_tipo_habitacion %}" role="button" class="btn btn-danger text-light" style="margin-left: 13%;">Eliminar</a> </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}